APP_LOG_LEVEL="INFO"

BOT_TOKEN="<CHANGE ME>"
BOT_ALLOWED_USER_IDS="<CHANGE ME>"
BOT_DELETE_SOURCE_MESSAGE="true"
BOT_TELEGRAM_PROXY_URL="socks5://192.168.1.1:1081"

YOUTUBE_DOWNLOAD_DIR=".runtime/youtube"
YOUTUBE_MAX_QUALITY="1080"
YOUTUBE_PROGRESS_UPDATE_INTERVAL_SECONDS="1.5"
YOUTUBE_REQUEST_TTL_SECONDS="3600"
