# App
APP_LOG_LEVEL="INFO"

# Telegram Bot
BOT_TOKEN="<CHANGE ME>"
BOT_ALLOWED_USER_IDS="<CHANGE ME>"
BOT_DELETE_SOURCE_MESSAGE="true"
BOT_TELEGRAM_API_BASE_URL="http://telegram-bot-api:8081"
BOT_TELEGRAM_PROXY_URL="socks5://192.168.1.1:1081"

# Telegram Bot API
TELEGRAM_HTTP_PORT="8081"
TELEGRAM_API_ID="<CHANGE ME>"
TELEGRAM_API_HASH="<CHANGE ME>"
TELEGRAM_LOCAL="1"

# YouTube
YOUTUBE_DOWNLOAD_DIR=".runtime/youtube"
YOUTUBE_COOKIES_PATH="<OPTIONAL PATH TO NETSCAPE COOKIES FILE>"
YOUTUBE_COOKIES_FROM_BROWSER="<OPTIONAL: chrome|firefox|safari|edge>"
YOUTUBE_MAX_QUALITY="1080"
YOUTUBE_PROGRESS_UPDATE_INTERVAL_SECONDS="1.5"
YOUTUBE_TELEGRAM_UPLOAD_LIMIT_BYTES="2000000000"
YOUTUBE_REQUEST_TTL_SECONDS="3600"

# GPN Fuel Map
GPN_FUEL_MAP_URL="https://gpnbonus.ru"
GPN_FUEL_MAP_INTERVAL_SECONDS="60"
GPN_FUEL_MAP_REQUEST_TIMEOUT_SECONDS="30"
GPN_FUEL_MAP_RECIPIENT_IDS="<CHANGE ME>"
